<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="logs\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target
      name="logfile"
      xsi:type="File"
      layout="${longdate}|Level: ${uppercase:${level}}|Logger: ${logger}|Message: ${message}${onexception:|Stack Trace: ${exception:format=toString,Data:maxInnerExceptionLevel=10}}"
      fileName="logs/log.log"
      archiveFileName="logs/archives/log_{#}.log"
      archiveEvery="Day"
      archiveNumbering="Date"
      archiveDateFormat ="yyyy-MM-dd"
      maxArchiveFiles="60"
      concurrentWrites="true"
      keepFileOpen="false"
      encoding="utf-8"
    />


    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Warn" writeTo="logfile" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>